// Material colors
$black:              #000000;
$grey:               #9E9E9E;
$blue-grey:          #607D8B;
$brown:              #795548;
$deep-orange:        #FF5722;
$orange:             #FF9800;
$lime:               #CDDC39;
$light-green:        #8BC34A;
$green:              #4CAF50;
$teal:               #009688;
$cyan:               #00BCD4;
$light-blue:         #03A9F4;
$blue:               #2196F3;
$indigo:             #3F51B5;
$deep-purple:        #673AB7;
$pink:               #E91E63;
$red:                #F44336;
// Brand colors
$brand-lime:         #D9E506;
$brand-grey:         #818A8F;
$brand-blue:         #00A8D0;
$brand-purple:       #942D83;
$brand-pink:         #CF2366;
$brand-green:        #3DAA4B;
$brand-orange:       #E06C2A;
